annotated-types
asgiref
attrs
cachetools
certifi
cffi
charset-normalizer
colorama
django
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httplib2
idna
outcome
pillow
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pyparsing
pysocks
python-dotenv
requests
rsa
selenium
sniffio
sortedcontainers
sqlparse
tqdm
trio
trio-websocket
typing-extensions
tzdata
uritemplate
urllib3
wsproto